body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header h1 {
  font-size: 3rem;
  padding-top: 2rem;
  font-weight: 300;
}
@media (max-width: 385px) {
  header h1 {
    padding-top: 0;
    font-size: 1.5rem;
  }
}
header .sharing-links {
  padding-top: 2.5rem;
  color: #455068;
}
header .sharing-links span {
  padding-left: 1rem;
}
@media screen and (max-width: 48em) {
  header .sharing-links {
    text-align: center;
  }
}
header a {
  text-decoration: none;
}

.intro {
  margin-top: 2rem;
}

.hdo-logo {
  white-space: nowrap;
  margin-top: 1rem;
  padding-top: 3rem;
  text-align: left;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 2.5rem;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
}
@media screen and (max-width: 48em) {
  .hdo-logo {
    text-align: center;
    background-position: 50% 0;
  }
}

footer {
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  display: block;
  position: relative;
  margin: 4rem 0;
  text-align: center;
  opacity: 0.8;
}
footer .links {
  padding-top: 1rem;
}
footer .links a {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: underline;
}

html ::selection {
  background-color: #fadd00;
}

.other-services a {
  text-decoration: none;
}
.other-services .service {
  filter: grayscale(0.4);
  transition: all 0.3s ease;
}
.other-services .service .img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  background-position: 50% 50%;
}
.other-services .service:hover {
  filter: none;
  background-color: #e5e7ec;
}

.hdo-card {
  background-color: #fff;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  margin-top: 2rem;
}
.hdo-card .hdo-card-header {
  background-color: #fcfcfc;
  margin-left: 0;
  margin-right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 1px rgba(0, 0, 0, 0.12);
}
.hdo-card .hdo-card-header.top-border {
  border-top: 1px solid #ddd;
}
.hdo-card .hdo-card-header.bottom-border {
  border-bottom: 1px solid #ddd;
}

.mTop {
  margin-top: 5rem;
}

.mBottom {
  margin-bottom: 5rem;
}

.mTop0 {
  margin-top: 0;
}

.mBottom0 {
  margin-bottom: 0;
}

.padded {
  padding: 2rem;
}

.promise-item {
  padding: 0 .95rem 0;
}

.promise-item > .row {
  padding-top: 1rem;
}

.promise-item .col {
  border-left-width: 5px;
  border-left-style: solid;
}

.promise-item .promise-status {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 0 0 0 1rem;
}

.promise-item .promise-row {
  padding: 1rem 0 0 1rem;
}

@media (min-width: 768px) {
  .promise-item {
    border-left-width: 5px;
    border-left-style: solid;

    border-bottom: 1px solid;
    border-color: #eee;
  }

  .promise-item .col {
    padding-top: 0;
    border-left: none;
  }

  .promise-item .promise-row {
    padding-top: 0;
    border: none;
  }
}

.promise-item .promise-text {
  font-size: 1.2rem;
  font-style: italic;
  padding-bottom: 1.2rem;
}

.promise-item h6 {
  font-size: 1.1rem;
  padding-bottom: .5rem;
}

.promise-item ul {
  list-style-type: square;
  padding-left: 1rem;
}

.promise-item li {
  margin: 0;
}

/*.promise-item p, .promise-item ul {
  font-size: .9rem;
}
*/
.hdo-color-dark {
  background-color: #606b82;
}

.hdo-color-light {
  background-color: #b8bfcc;
}

.flexContainer {
  display: flex;
}
.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexStart {
  align-self: flex-start;
}

.data-highcharts-chart {
  max-width: 100%;
}

.promise-status-kept,
.promise-status-kept .col {
  border-left-color: rgb(0, 166, 212);
}

.promise-status-partially-kept,
.promise-status-partially-kept .col {
  border-left-color: #fadd00;
}

.promise-status-broken,
.promise-status-broken .col {
  border-left-color: rgb(43, 43, 43);
}

.promise-status-uncheckable,
.promise-status-uncheckable .col {
  border-left-color: #b8bfcc;
}

.sk-search-box input.sk-search-box__text {
  color: #444;
}

.sk-search-box input.sk-search-box__text::-webkit-input-placeholder {
  color: #444 !important;
  opacity: .3;
}

.sk-panel__header {
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
}

.sk-search-box form {
    min-height: 40px;
}

.sk-search-box__icon {
  margin: 10px 0 0 0 !important;
}

.sk-search-box input.sk-search-box__text {
  color: #444 !important;
}

.filter-button {
  position: absolute;
  right: 1rem;
  top: 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAALklEQVR4Ae3TMREAQAwCwfdv+iOBJgWZ2UXAVTyAOn9nAnlQ+upMAPqeHQkcAjDB8g8ALyiZjwAAAABJRU5ErkJggg==);
  background-size: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .promise-list .sk-panel {
     margin-top: 1rem;
  }
}

.promise-list .sk-panel.filter--status {
   margin-top: .2rem;
}

.promise-read-more {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: .9rem;
  padding-bottom: 1rem;
}

.promise-read-more.promise-read-more-expanded {
  display: none;
}

.promise-details {
  max-height: 0;
  opacity: 0;
  transition: max-height .3s, opacity .1s ;
}

.promise-details.promise-details-expanded {
  max-height: none;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .promise-read-more {
    display: none;
  }

  .promise-details {
    max-height: none;
    opacity: 1;
  }
}
